/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\
**  HOME About section
**  With the lightbulb
\~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.home-about {
  overflow: hidden;

  .page {
    border-left-color: transparent;
  }
}

.lightbulb--small {
  width: 100%;
}

.lightbulb--large {
  display: none;
}

@media only screen and (min-width: 640px) {

  .lightbulb--small {
    display: none;
  }
  .lightbulb--large {
    display: block;
  }
}

.lightbulb {
  margin: 0 0 3rem;

  @media only screen and (min-width: 640px) {
    float: left;
    width: 33.333%;
    margin: 0 9rem 25rem 0;
  }

  @media only screen and (min-width: 1024px) {
    margin-bottom: 3rem;
  }
}

.home-about-text {

  @media only screen and (min-width: 1024px) {
    padding-right: 16.66%;
  }
}
