/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\
**  HOME About section
**  With the lightbulb
\~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.home-about {
  overflow: hidden;

  .page {
    border-left-color: transparent;
  }
}

.lightbulb {
  margin: 0 0 3rem;

  &--small {
    width: 100%;
  }

  &--large {
    display: none;
  }

  @include mq($tablet-landscape) {

    &--small {
      display: none;
    }

    &--large {
      display: block;
    }
  }

  @include mq($tablet-landscape) {
    @include span(4 of 12);
  }
}

.home-about-text {

  @include mq($tablet-landscape) {
    @include span(7 of 12 last);
  }

  ul {
    transform: translateX(-2rem);
  }

  .page & li {
    padding-left: 2rem;
  }
}
