/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\
**  HOME Partners section
**  The logos
\~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.partner-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  @media only screen and (min-width: 640px) {
    flex-wrap: nowrap;
  }


  li {
    flex: 1 1 50%;
    padding: 0 2rem;

    @media only screen and (min-width: 640px) {
      flex-basis: auto;
    }
  }
}
