/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\
**  HOME Services section
\~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.home-services {

  .page {
    padding-top: 5rem;
  }
  .home-service-texts {

    @media only screen and (min-width: 640px) {
      padding-right: 16.666%;
    }

    @media only screen and (min-width: 1024px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: space-between;
    }
  }

  .home-service__main-txt {
    flex: 1 1 50%;
    margin-right: 6rem;
  }

  .home-service__secondary-txt {
    display: none;

    @media only screen and (min-width: 1024px) {
      display: block;
      flex: 0 1 50%;


      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      li {
        flex: 0 0 50%;
      }
    }

  }

  h1 {
    margin-top: 0;
  }
}
