<section id="about" class="home-about">
  <div class="wrapper">
    <div class="page">

      <figure class="lightbulb">
        <img src="/assets/images/svg/lightbulb-small.svg" alt="illustration with geometric figures and a lightbulb" class="lightbulb--small" />

        <img src="/assets/images/svg/lightbulb-large.svg" alt="illustration with geometric figures and a lightbulb" class="lightbulb--large" />
      </figure>


      <div class="home-about-text">
        <h1>Hacking for #innovation</h1>

          <h2>We are hackers...</h2>
          <p>We help teams and organisations adopt the #hacker_mindset in their digital transformation:</p>
          <ul class="green-list">
            <li>to learn through creative and clever experimentation</li>
            <li>to guide decisions with intellectual honesty based on data-driven evidence and direct access to the sources of knowledge and thought leadership</li>
            <li>to get from zero to revenue</li>
          </ul>

          <p>We inspire the next generation of #hackers to engage in and live the #hacker_culture:</p>

          <ul class="green-list">
            <li>to enjoy the intellectual challenge of solving fascinating problems</li>
            <li>to inhabit the same spaces with other makers of cool useful things -- craftsmen, writers, painters and other hackers</li>
          </ul>
        </div>

      <a href="/manifesto" class="btn-cta">Read Our Manifesto</a>
    </div>
  </div>
</section>
