<section id="contact">
  <style scoped>
    textarea, input {
      display: block;
    }
  </style>


  <h1>Get in touch</h1>
  <p>We would love to hear from you.</p>

  <form action="https://formspree.io/vladi@hacker.works" method="POST">
    <input type="text" name="_name" placeholder="your name">
    <input type="email" name="_replyto" placeholder="your email">
    <input type="text" name="_subject" placeholder="subject"> 
    <textarea name="_message" placeholder="your message" rows="3"></textarea>
    <input type="submit" value="Submit&nbsp;>">
  </form>

  <a href="#top">Close</a>
</section>
