<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>© Copyright 2015&nbsp;&nbsp;hacker.works</li>
          <li>&nbsp;&nbsp;All Rights Reserved. <a href="/sitemap.xml">Sitemap</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
