<header class="site-header" id="top">


  <div class="logo-n-burger">

    <div class="wrapper">
      <a href="{{ site.url }}" class="site-header__logo">
        <img src="/assets/images/svg/h_w-light.svg" alt="hacker.works logo" class="logo-mobile">
      </a>


      <button class="site-header__burger">

          <?xml version="1.0" encoding="UTF-8" standalone="no"?>
          <svg width="23px" height="16px" viewBox="0 0 23 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Job-Offer" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
                  <g id="Job-Offer---Mobile" transform="translate(-323.000000, -44.000000)" stroke="#3F61EB" stroke-width="2">
                      <g id="Group-8" transform="translate(324.000000, 44.000000)">
                          <path d="M0.826707914,1 L20.6044453,1" id="Line"></path>
                          <path d="M0.826707914,8 L20.6044453,8" id="Line-Copy-35"></path>
                          <path d="M0.826707914,15 L20.6044453,15" id="Line-Copy-36"></path>
                      </g>
                  </g>
              </g>
          </svg>
      </button>
    </div>
  </div><!-- END Logo n burger joint -->



  <div class="wrapper">
    <h1>Impact needs a hacker mindset</h1>
    <h2>We get your ideas from zero to revenue</h2>
    <a href="#contact" class="get-in-touch__btn">
      Get in touch &gt;
    </a>
    <img src="/assets/images/svg/sidetext.svg" class="rotated-text" alt="Scroll for more">
  </div>
</header>
