<section id="partners" class="home-partners">
  <div class="wrapper">
  <div class="page">
      <h1>Fellow partners</h1>
      <blockquote>"Craftsmanship is built upon strong relationships..."</blockquote>

      <ul class="partner-list">
        <li><img src="/assets/images/svg/logos/kickflip.svg" alt="Kickflip"></li>
        <li><img src="/assets/images/svg/logos/source.svg" alt="Source Institute"></li>
        <li><img src="/assets/images/svg/logos/betahaus.svg" alt="Betahaus Sofia"></li>
        <li><img src="/assets/images/svg/logos/the-agency-collective.svg" alt="The Agency Collective"></li>
        <li><img src="/assets/images/satalia.png" alt="Satalia"></li>
      </ul>
    </div>
  </div>
</section>
