<section class="stay-in-touch" id="subscribe">
  <div class="wrapper page">
    <h1>Stay in touch</h1>
    <h2>Subscribe to our newsletter</h2>
    <p>We send emails occesionally to keep you posted with our recent endeavours, projects and opportunities.</p>

    <form action="https://formspree.io/vladi@hacker.works" method="POST" class="hacker-form">
      <input type="email" name="_replyto" placeholder="your email">
      <button type="submit" class="btn-submit">Submit</button>
    </form>
  </div>
</section>
