/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\
**  Contact form
**	Styles for all the contact forms
\~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.hacker-form {

	input,
	textarea,
	label {
		font-family: $inconsolata-font-family;
		font-size: 1.8rem;
		color: $purplish-brown;

		@media only screen and (min-width: 640px) {
			font-size: 2.2rem;
		}
	}

	input,
	textarea {
		margin: 0;
		padding-bottom: 0.667rem;
		outline: none;
	}

	input {
		line-height: 1.5;
		transition: border-color 0.1s ease-in;

		&:invalid {
			outline: none;
			border-bottom-color: $error-color;
			box-shadow: none;
			transition: border-color 0.1s ease-out;
		}
	}

	label {
		position: absolute;
		top: 3.75rem;
		left: 0;
		transition: all 0.1s ease-in;
		text-transform: lowercase;
		color: $brand-black;

		span {
			opacity: 0;
			font-size: 1.5rem;

			@include mq($tablet-portrait) {
				opacity: 0.1;
				font-size: inherit;
			}
		}

		&.hacker-form__label--flying {
			top: 1.5rem;
			opacity: 0.4;
			font-size: 1.4rem;
			transition-timing-function: ease-out;

			span {
				opacity: 0;
			}
		}
	}

	button {
		margin-top: 5rem;
	}
}


.hacker-form__field {
	position: relative;
	margin: 0.8rem 0 0;
	padding: 0;
	border: none;

	&:first-of-type {
		margin-top: 0;

		@media only screen and (min-width: 1024px) and (max-width: 1365px) {
			margin-top: 0.8rem;
		}

		@include mq($laptop-large) {
			margin-top: 2rem;
		}

		@include mq($desktop) {
			margin-bottom: 0.5rem;
		}
	}

	textarea {
		padding: 0.5rem gutters(12);
		border: 1px solid;
		border-top-color: transparent;
		border-right-color: transparent;
		border-left-color: transparent;
		transition: all 0.2s ease;
		transition-delay: 0.1s;

		&:focus {
			border-color: currentColor;
			min-height: 16rem;
		}
	}
}

.hacker-form__field--textarea {
	margin-top: 2rem;

	label {
		position: static;
	}
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\
**  Stay in touch
**	Subscription section
\~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.stay-in-touch {
	position: relative;
	background-color: $brand-green;
	text-align: center;
	color: $purplish-brown;

	.wrapper {
		max-width: 60rem;
		margin: 0 auto;
		padding-top: 3rem;
		padding-bottom: 6rem;
		position: relative;
		overflow-y: auto;
	}

	h1 {
		margin-bottom: 0;
	}

	input {
		margin: 3.5rem auto 0;
	}
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\
**  Get in touch
**	Subscription section
\~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.get-in-touch {
	width: 100%;
	min-height: 100%;
	position: fixed;
	top: 0;
	left: -150%;
	z-index: 100;
	text-align: left;
	transition: left .4s ease-in-out,
							transform .4s linear;

	@include mq($laptop) {
		background: $brand-green url('/assets/images/svg/hi.svg') no-repeat right 25rem;
		background-size: 50%;

		.wrapper {
			@include container();
		}
	}

	&.is-visible {
		left: 0;
	}

	&.is-scrollable {
		height: 100%;
	}

	.wrapper {
		max-width: none;

		@include mq($tablet-landscape) {
			padding-top: 5.5rem;
			padding-left: 12.7rem;
		}
	}

	h1 {
		margin-top: 4.25rem;

		& + p {
			margin-bottom: 0.5rem;

			@include mq($tablet-portrait) {
				margin-top: 5rem;
			}

			@include mq($tablet-landscape) {
				margin-top: 3rem;
			}

			@include mq($laptop-large) {
				margin-top: 2rem;
			}
		}

		@include mq($tablet-portrait) {
			font-size: 7.2rem;
		}

		@include mq($laptop-large) {
			font-size: 8.6rem;
		}
	}

	input,
	textarea {
		float: left;
		display: block;
		width: 100%;
		text-align: left;
	}

	textarea {
		min-height: 0;
		height: 6rem;
	}

	label > span {
		@include mq($tablet-portrait) {
			font-size: 2rem;
		}
	}

	.hacker-form {

		@include mq($tablet-portrait) {
			width: 47rem;
			margin-top: 2rem;
		}

		@include mq($tablet-landscape) {
			width: 75rem;
			margin-top: 1rem;

			button {
				margin-top: 3.7rem;
			}
		}

		@include mq($laptop) {
			width: 47rem;
		}
	}

	.hacker-form__field {
		width: 100%;

		@media only screen and (min-width: 1024px) and (max-width: 1439px) {

			&[data-field="name"] {
				@include span(4.75);
				margin-right: gutters(6);
			}
			&[data-field="email"] {
				@include span(7 last);

				& + .hacker-form__field {
					clear: both;
				}
			}
		}


		@include mq($tablet-portrait) {
			margin-bottom: 2rem;
		}
	}

	.btn-close {
		position: absolute;
		top: 3rem;
		right: 0;
		z-index: 15;
		font-size: 2rem;

		@include mq($tablet-portrait) {
			font-size: 2.5rem;

			span {
				display: none;
			}
		}
	}
}
