.site-footer {
	padding: 6rem 3rem 4.5rem;
	background-color: $azul;
	color: #fff;
	line-height: 1.4;
	font-family: $inconsolata-font-family;
	font-size: 1.4rem;
	text-align: center;

	p {
		margin: 0 0 1.5rem;
	}

	.copyright {
		margin-top: 1.6rem;
	}

	a {
		color: $brand-green;
	}
}
