.site-footer {
	padding: 4.5rem 3rem 4.5rem;
	background-color: $azul;
	line-height: 1.4;
	font-family: $inconsolata-font-family;
	font-size: 1.4rem;
	text-align: center;

	@include mq($tablet-portrait) {
		padding-top: 7.2rem;
    padding-bottom: 8.2rem;
	}

  @media only screen and (min-width: 769px) and (max-width: 1024px) {
		padding-top: 6rem;
    padding-bottom: 7.4rem;
	}

	@include mq($laptop) {
		padding-top: calc(22.7rem - 6rem);
	}

	p {
		margin: 0 0 1rem;
		color: #fff;
		font-size: 1.4rem;

		&.copyright {
			margin-top: 1.6rem;
			font-size: 1.2rem;

			a {
				display: block;
			}
		}

		@include mq($tablet-portrait) {
			font-size: 2rem;

			&.copyright {
				margin-top: 2rem;
				font-size: 1.6rem;
			}

			strong {
				font-size: 2.2rem;
			}
		}

		@include mq($laptop) {
			font-size: 1.4rem;
		}
	}

	a {
		color: $brand-green;
	}
}

.home {

	.site-footer {
			background: $brand-green url(/assets/images/svg/h_w-bg.svg) no-repeat
			center calc(100% - 4rem);
			background-size: 90%;


			p {
				color: $black;
			}
	}
}
