/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\
**  Main site header
**	The one with the gradient
\~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.site-header {
	background-image: linear-gradient(to left, #00d9bf, #24efa6);
	width: 100%;
	height: 100vh;
	padding-top: 12rem;
	overflow: hidden;

	h1 {
		@extend %masthead-text;
	}

	h2 {
		display: none;
		font-family: $base-font-family;
		font-size: 2.8rem;
		font-weight: 500;
		line-height: 1.1;
		letter-spacing: -0.1px;
		color: $eggshell-blue;
	}

	.get-in-touch__btn {
		position: fixed;
		bottom: 3rem;
		right: 3rem;
	}
}

.rotated-text {
	display: block;
	@extend %rotated-text;
	margin: 0;
	padding-bottom: 2rem;
	transform: rotateZ(90deg);
	transform-origin: 30px;
	border-bottom: 1px solid currentColor;
	text-transform: uppercase;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\
**  Mini Header
**	The header for the job listing
\~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.site-header--mini {
	padding-top: 3.5rem;
	padding-bottom: 3.5rem;

	.wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.site-header__burger {
		flex: 0 0 auto;
		position: relative;

		&::before {
			content: 'Open positions';
			width: 18rem;
			padding-right: 2rem;
			position: absolute;
			top: 0;
			right: 100%;
			font-family: $inconsolata-font-family;
			line-height: 1;
			font-size: 1.8rem;
			text-transform: uppercase;
			text-align: right;
			color: $azul;
			opacity: 0;
			transition: opacity 0.2s ease;

			@media only screen and (min-width: 640px) {
				opacity: 1;
			}
		}

		&.is-triggered {
			position: relative;
			z-index: 1000;

			&::before {
				color: #fff;
				opacity: 1;
			}

			#Job-Offer---Mobile {
				stroke: #fff;
			}
		}

		svg {
			transition: stroke 2s ease;
		}

		@media only screen and (min-width: 1024px) {
			display: none;
		}
	}

	.logo-normal {
		height: 0;
		opacity: 0;
	}

	@media only screen and (min-width: 768px) {

		.logo-mobile {
			height: 0;
			opacity: 0;
		}

		.logo-normal {
			height: auto;
			opacity: 1;
		}
	}
}
