.jobs {

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\
**  Headings
\~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
//Title of the job offering
	h1 {
		@extend %page-heading;
    margin-top: 0;
		margin-bottom: 2.8rem;

    @media only screen and (min-width: 769px) and (max-width: 1024px) {
      margin-top: 1.8rem;
      margin-bottom: 3.9rem;
    }
	}

	h2 {
		@extend %jobs-introtext;
		margin-bottom: 2.844rem;

    @media only screen and (min-width: 769px) and (max-width: 1024px) {
      margin-bottom: 5.2rem;
    }
	}

	h3 {
		margin: 0 0 2.4rem;
		font-family: $inconsolata-font-family;
		font-size: 2.25rem;
		font-weight: bold;
		line-height: 1.32;
		letter-spacing: -0.1px;
		color: $azul;

    @media only screen and (min-width: 769px) and (max-width: 1024px) {
      margin-bottom: 3rem;
    }
	}

	/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\
	**  List with requirements
	**	MAKE SURE YOU MIX THESE!!
	\~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
	ul {
		@extend %u-clear-list;
		@extend %list-green;
    margin-bottom: 2.2rem;
		border-left: 0.04rem solid #979797;
    font-size: 1.8rem;
    font-weight: normal;
    color: #464646;

		li {
			padding-left: 2.25rem;
			margin-bottom: 1.5rem;
      line-height: 1.7;

      @media only screen and (min-width: 769px) and (max-width: 1024px) {
        line-height: 1.5;
        padding-left: 3rem;
      }

			strong {
				display: inline-block;
				margin-bottom: 1.3rem;
			}

			//The list with the green >
			& > ul {
				@extend %u-clear-list;
				border-left: none;

				& > li {
					position: relative;
          padding-left: 0;
					text-indent: 30px;

					&::before {
						content: url(/assets/images/svg/li.svg);
						display: block;
						width: 0.9rem;
						height: 1.1rem;
						position: absolute;
						top: 3px;
						left: -26px;
					}
				}
			}
		}
	}
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\
**  Footer
\~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.jobs-footer {
	margin: 6rem 0 0;
	padding: 6rem 3rem;
	background-color: #fafafa;
	font-family: $base-font-family;
	font-size: 2rem;
	line-height: 1.8;
	color: $greyish-brown;

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    padding: 8rem 10rem 9rem 11rem;
  }

	p {
		margin: 0;
	}

  a {
    color: $azul-three;
  }

}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\
**  Navigation
\~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.jobs-nav {
	min-width: 35rem;
	width: 100%;
	height: 100%;
	padding-top: 14rem;
	position: fixed;
	top: 0;
	right: -150%;
	background-color: $azul;
	transition: right 0.2s ease;

	&.is-visible {
		right: 0;
	}

	@media only screen and (min-width: 640px) {
		width: 75%;
	}

	@media only screen and (min-width: 768px) {
		padding-left: 8rem;
		width: 25%;
	}

	@media only screen and (min-width: 1025px) {
		right: 0 !important;
	}
}

//The list
.jobs-nav-list {
	display: block;
	@extend %u-clear-list;

	li {
		margin-bottom: 1.6rem;
	}

	a {
		display: block;
		padding-right: 6rem;
		font-family: $inconsolata-font-family;
		font-size: 1.6rem;
		color: #fff;
		transition: color .1s linear;
		text-align: right;

		&:hover, &:focus,
		&.current {
			color: $brand-green;
		}

		&.current {

			&::before {
				content: "/ "
			}
		}

		@media only screen and (min-width: 640px) {
			text-align: center;
			padding: 0;
		}

		@media only screen and (min-width: 768px) {
			text-align: left;
		}
	}
}

.site-header--mini,
.jobs {
  .wrapper {

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      padding-right: 4.8rem;
      padding-left: 4.8rem;
    }

    @media only screen and (min-width: 1025px) {
    	width: 66.6%;
    	margin-left: 0;
    }

    @media only screen and (min-width: 1420px) {
      width: 80%;
      margin: 0 auto;
      padding-right: 20%;
    }
  }
}

.jobs {
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .wrapper {
      padding-right: 17rem;
    }
  }
}
