.jobs {
	padding: 0 2rem;

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\
**  Headers
\~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
//Title of the job offering
	h1 {
		@extend %page-heading;
		margin-bottom: 2.8rem;
	}

	h2 {
		@extend %jobs-introtext;
		margin-bottom: 2.8rem;
	}

	h3 {
		margin-bottom: 2.5rem;
		font-family: $inconsolata-font-family;
		font-size: 2.2rem;
		font-weight: bold;
		line-height: 1.3;
		letter-spacing: -0.1px;
		color: $azul;
	}

	//List with requirements
	ul {
		@extend %u-clear-list;
		@extend %list-green;
		border-left: 1px solid #979797;

		li {
			padding-left: 2rem;
			margin-bottom: 1.3rem;

			strong {
				display: inline-block;
				margin-bottom: 1rem;
			}

			//The list with the green >
			& > ul {
				@extend %u-clear-list;
				border-left: none;

				& > li {
					position: relative;

					&::before {
						content: url(/assets/images/svg/li.svg);
						float: left;
						display: block;
						width: 0.9rem;
						height: 1.1rem;
						position: absolute;
						top: 3px;
						left: 0;
					}
				}
			}
		}
	}

	footer {
		margin: 6rem -2rem 0;
		padding: 6rem 3rem;
		background-color: #fafafa;
		font-family: $base-font-family;
		font-size: 2rem;
		line-height: 1.8;
		color: $greyish-brown;

		p {
			margin-top: 0;
		}
	}
}
