<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <main class="home">

      {% include navigation.html %}

      {% include header.html %}

      {% include services.html %}

      {% include about.html %}

      {% include careers.html %}

      {% include partners.html %}

      {% include subscribe.html %}

      {% include footer.html %}

      {% include contact.html %}
    </main>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/assets/scripts/page.js"></script>
  </body>

</html>
