---
layout: default
---
{{ content }}
<div class="two-columns">
  <p>{{ page.column_text_1 }}</p>
  <p>{{ page.column_text_2 }}</p>
</div>

{% if page.submasthead %}
<h2 class="submasthead">{{ page.submasthead }}</h2>
{% endif %}

<div class="tabbed-slider">
  <ul class="tab-list">
    {% for point in page.points %}
      <li data-for-tab="{{ forloop.index0 }}" class="tab-list__item tab-btn">
        <p><i class="tab-icon {{ point.icon }}"></i> {{ point.label }}</p>
        <span class="tab-mobile-label">{{ point.mobile_label }}</span>
    </li>
    {% endfor %}
  </ul>
  <div class="slider" data-settings='{
      "dots": false,
      "autoplay": false,
      "autoplaySpeed": 5000
    }'>
    {% for point in page.points %}
      <div>
        <div class="tab-image">
          <img src="{{ point.image | make_url }}" alt="" />
          <a href="{{ point.url | make_url }}" class="tab-heading">{{ point.title }}</a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
