---
layout: manifestos
---
<article class="jobs">
  <div class="wrapper">
    <a href="https://goo.gl/forms/FHBQsOeNSKgInYeC2" class="jobs-application-button" target="_blank">Sign the manifesto &gt;</a>
    {{ content }}
  </div>
  {% include manifesto-navigation.html %}

  <footer>
    <div class="wrapper">
      <p>Our hackers are supporters of the <a href="http://hacker.works/manifesto">hacker.works manifesto</a>
      </p>
      <p>If you feel confident with at least half of the technical and seniority requirements and you recognize yourself in even just a few of the values from the <a href="http://hacker.works/">hacker.works</a> manifesto, please don't hesitate to apply.</p>
    </div>
  </footer>
</article>

</div>
