<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="manifesto">

    {% include header-manifesto.html %}

    <main>
      <article class="manifesto-content">
        <header class="manifesto-header">
          <a href="https://goo.gl/forms/FHBQsOeNSKgInYeC2" class="jobs-application-button" target="_blank">Sign the manifesto &gt;</a>
          <div class="wrapper">
            <h1>
              We are an aspiring team of hackers. We uncover the hacker culture to companies and individuals seeking to overcome workplace and industry constraints. We build communities and work environments for unconventional goals. We incubate and build the new digital.
            </h1>
          </div>
        </header>
        <section class="manifesto-values">
          <div class="wrapper">
            <h2>We have come to find hack value:</h2>
            <ul>
              <li>Not only in honing the skills and craftsmanship for building well-crafted software but also in cultivating <a href="#human-touch">#human-touch</a></li>
              <li>Not only in making things better but also in empowering teams and individuals and their <a href="#motivation">#motivation</a> to drive the change</li>
              <li>Not only in following mature processes but also in leaving space for <a href="#exploration">#exploration</a> to achieve surprising and clever outcomes</li>
              <li>Not only in partnering and collaboration with the client but also in activating the human <a href="#energy">#energy</a> in teams and organizations</li>
            </ul>
          </div>
        </section>
        <section class="manifesto-principles">
          <div class="wrapper">
            <h2>We stand by the following principles:</h2>

            <div class="manifesto-principles__sensibilities">
              <h3>#human-touch</h3>


              <div class="content">
                <figure>
                  <img src="/assets/images/svg/connect.svg" alt="Connect" />
                </figure>

                <div class="quotes">
                  <p><strong>The culture of innovation requires human touch.</strong><br/>Users are human beings. Products should not just ‘work’; they should create an emotional connection.</p>
                  <p><strong>The best designs, services and products are humane.</strong> They fit all the little details into a meaningful experience; they solve a human need or pain.</p>
                </div>
              </div>

            </div>
            <div class="manifesto-principles__motivation">
              <h3>#motivation</h3>
              <div class="content">
                <div class="motivation-one">
                  <p><strong>The best workplace is a playground.</strong> We transforms work into a form of play. Playfulness is key to the hacker culture of innovation.</p>
                  <p><strong>Understanding makes work more enjoyable.</strong> We create understanding through face-to-face contact, transparency and information-sharing.</p>
                </div>
                <div class="motivation-two">
                  <p><strong>Humans possess inner drive.</strong> We give the hackers real autonomy for the important aspects of the work.</p>
                  <p><strong>Encouraging improvement.</strong> We encourage the different thinking. Once a mind is stretched by a new idea, it will never return to its original position.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="manifesto-principles__first-container">
            <div class="manifesto-principles__first">
              <div class="wrapper">
                <h3>#exploration</h3>
                <p>Ambitious problems require starting over. Exploring many solutions. Unfixing expectations. Experimenting. Examining the feedback. Compressing the cycles. Allowing an element of surprise. <strong>That is what ties together the most innovative ideas.</strong></p>
              </div>
            </div>
            <figure class="manifesto-backgrounds manifesto-backgrounds--top">
              <img src="/assets/images/svg/characters--blue.svg" alt="random characters" class="manifesto-background--small" />
            </figure>
            <figure class="manifesto-backgrounds manifesto-backgrounds--bottom">
              <img src="/assets/images/svg/characters--blue.svg" alt="random characters" class="manifesto-background--small" />
            </figure>
          </div>

          <div class="wrapper">
            <div class="manifesto-principles__impact">
              <h3>#energy</h3>

              <div class="content">
                <div>
                  <p><strong>Energy level is the best measure</strong> of the health and culture of teams and organizations. Only when we are fully energized do we become the best versions of ourselves.</p> 
                  <p><strong>Saying no is essential.</strong> With simplification we create space to direct attention and our effort to the most meaningful work.</p>
                  <p>Focusing on tasks and time leads only to a sense of busy-ness. Instead we engage team members with new, powerful experiences of themselves. <strong>We tap into hidden strengths and capacities.</strong></p>
                </div>
                <figure>
                  <img src="/assets/images/svg/ala-chart.svg" alt="Chart-like illustration" />
                </figure>
              </div>
            </div>
          </div>
        </section>
      </article>
    </main>

    {% include subscribe.html %}

    {% include footer.html %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/assets/scripts/page.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-79952132-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>

</html>
